
.dynamika-menu-nav-forest {
    width:100%;
}

.dynamika-menu-ul-forest {
    list-style: none;
    margin:0;
    padding:0;
    position: relative;
    flex-direction:row;
    display:flex;
    justify-content: space-between;
}

.dynamika-menu-li-root {
    display:flex;
    flex-direction:column;
    flex-grow: 1;
    text-align:center;
    cursor:pointer;
}

.dynamika-menu-span-items {
    display:flex;
    top:100%;
    left:0;
    right:0;
    position:absolute;
    visibility: hidden;
    z-index:1;
}

.dynamika-menu-li-root:hover .dynamika-menu-span-items {
    visibility: visible;
}

.dynamika-menu-span-sub {
    display:flex;
    flex-grow:1;
    min-width: 33%;
    flex-direction: column;
}

/* RESPONSIVE MOBILE VERSION */
@media (min-width: 320px) and (max-width: 767px) {
    .dynamika-menu-nav-forest {
        width:100%;
    }

    .dynamika-menu-ul-forest {
        list-style: initial;
        margin:0;
        padding: 0;
        position: relative;
        flex-direction: row;
        display:flex;
        justify-content: space-between;
    }

    .dynamika-menu-li-root {
        display:flex;
        flex-direction:column;
        flex-grow: 1;
        text-align:center;
        cursor:pointer;
    }

    .dynamika-menu-span-items {
        display:initial;
        top:100%;
        left:0;
        right:0;
        position:initial;
        display: none;
        z-index: 1;
    }

    .dynamika-menu-li-root:hover .dynamika-menu-span-items {
        display: block ;
    }

    .dynamika-menu-span-sub {
        min-width: initial;
    }


    #box-menu{
        position: relative;
        min-width: 100%;
        flex-direction:column;
    }

    #box-menu .container-fluid{
        padding-right:3%;
        padding-left:3%;
        margin-right:auto;
        margin-left:auto;
    }

    .dynamika-menu-ul-forest li a{
        color:#000;
        text-align:left;
    }

    .dynamika-menu-ul-forest > li:hover a{
        color:#000;
    }

    .dynamika-menu-nav-forest .dynamika-menu-ul-forest{
        display:flex;
        flex-direction:column;
    }

    .dynamika-menu-nav-forest .dynamika-menu-ul-forest .dynamika-menu-li-root{
        flex-basis: unset;
    }

    .dynamika-menu-nav-forest .dynamika-menu-li-root:hover ul{
        display:block;
    }

    .dynamika-menu-nav-forest > .dynamika-menu-li-root > .dynamika-menu-a-root{
        height:40px;
        border-bottom:1px solid rgba(255,255,255,.2);
    }

    .dynamika-menu-nav-forest .dynamika-menu-li-root ul{
        position: unset;
        top:auto;
        height:auto;
        display: block;
    }

    .dynamika-menu-nav-forest .dynamika-menu-li-root ul a{
        font-size:.95em;
        text-align:left;
        width:100%;
    }

    .dynamika-menu-span-items{
        visibility: initial;
        display: none ;
    }
}
